* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(39, 39, 39);
}
header{
    display: grid;
    background-color:white;
    width: 100%;
    padding: 0px;
    position: fixed;
    top: 0;
    z-index: 5;
}

.Header{
    text-decoration: none;
    list-style-type:none;
    width: 100%;
    background-color: (247, 247, 247);
    position: relative;
}

li.logo img{
    margin-top: 15px;
    margin-left: 0;
    display: block;
    width: 50%;
}
ul.Header{
    display: grid;
    grid-template-columns: 75% 20% ;
    padding-left: 10px;

}

div.container{
    display: none;
}
ul.Header a{
    color: black;
    text-decoration: none;
}

.none {
    display: none;
}

.toggle-nav {       
    padding: 7px;          
    display: block;    
    margin-top: 11px;    
    width: 15px;
    align-content: end;
    text-align: end;
    margin-left: 0px;
    font-size: larger;
    color: black;
    
}

ul .navegacion {
    display: none;
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    position: absolute;
    z-index: 10;
    background-color: white;
    width: 100%;
    left: 0;
}
ul.informacion{
    display: none;
}
nav:hover ul.navegacion {
    display: block;
}

.uk-button-default{
    border: none; 
}

button.uk-button.uk-button-default{
    border: none;
}
main .mainmob{
    display: grid;
    padding: 0px;
    margin-top: 80px;

}
ul {
    text-align: center;
    padding: 0;
    list-style-type: none;
}

li.fotobunny{
    text-decoration: none;
    list-style-type: none;
    width: 50%;
    margin: 0 auto;
}

.centrobunny{
    margin-top: 10px;
    border-radius: 50%;
    text-align: center;
}

a.letra {
    color: white;
}

ul.info{
    margin-bottom: 10px;
    padding: 0 0 0 0;
}

.letrabunny h2{
    margin-bottom: 0px;
}

.fans h6{
    margin-bottom: 0px;
    color: gray;
}
h5.cancionespopulares {
    margin-bottom: 0px;
    margin-left: 15px;
    text-align: left;
    color: white;
}

.botonseguir{
    margin-top: 10px;
}
a.seguir{
    border: 2px solid rgb(94, 198, 233);
    color: rgb(94, 198, 233);
    padding: 4px;
    border-radius: 50px 50px 50px 50px
}

.canciones{
    text-decoration: none;
    list-style-type: none;
    color: black;
    background-color: white;
} 
div.listacanciones{
    display: grid;
    grid-template-columns: 10% 10% 60% 10%;
    grid-template-rows: auto auto auto auto auto auto;
    justify-content: space-around;
    width: 85%;
    margin: auto;

}
.unico1 div.listacanciones{
    background-color: rgb(39, 39, 39);
    color: white;

}

.unico2 div.listacanciones{
    background-color: white;
}

.unico3 div.listacanciones{
    background-color: rgb(39, 39, 39);
    color: white;

}

.unico4 div.listacanciones{
    background-color: white;
}

.unico5 div.listacanciones{
    background-color: rgb(39, 39, 39);
    color: white;

}

.unico6 div.listacanciones{
    background-color: white;
}

p.letra{
    margin: 0 0 0 0;
    text-align: left;
    padding: 2px 2px 2px 2px;
}

div.canciones{
    background-color: rgb(39, 39, 39);
}

ul.canciones1{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

a.uk-margin-small-right{
    margin-top: 6px;
}

span.uk-margin-small-right-uk-icon{
    margin-bottom: 3px;
}

div.albums{
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: auto auto;
    justify-content: space-around;
    width: 85%;
    margin: auto;
}

h5.albums-todos{
    margin-bottom: 5px;
    margin-top: 20px;
    margin-left: 15px;
    color: white;
}

div.albums1{
    display: none;
}

.foto{
    width: 100%;
}

p.titulo{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
}

footer {
    display: grid;
    grid-template-columns: 35% 55%;
    background-color:rgb(247, 247, 247) ;
    border-radius: 20px 20px 0 0;
}
.fotofooter{
    margin-top: 40px;
    margin-left: 10px;
}

footer.footer2{
    display: none;
}
.imgf{
    width: 100%;
}
.ulfooter{
    list-style: none;
    text-decoration: none;
    color: black;
    background-color:rgb(247, 247, 247) ;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;;
    margin-top: 20px;
    

}
.nombresf{
    border-left: solid 0.5px black;
    border-right:solid 0.5px black;
    padding-left: 15px;
}

.desktopheader{
    display: none;
}

@media (min-width: 1024px){

    .headerm{
        display: none;
    }
    .desktopheader{
        display: block;
    }
    header{
        background-color: rgb(247, 247, 247);
        width: 100%;
    }

    ul.headerd {
        display: grid;
        grid-template-columns: 15% 25% 20% 40%;
        width: 100%;
        list-style: none;
        padding-left: 10px;
    }
    
    ul.headerd a{
        color: black;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-size: 25px;
        font-weight: 500;
        

    }
    
    li.vinculosh {
        padding-top: 50px;
        margin: 0 auto;
        padding-left: 40px;
        

    }
    li.columna4{
        padding-top: 45px;
        padding-left: 50px;
        width: 100%;
    }
    
    li.vinculosh a {
    
        border-radius: 10px 10px 10px 10px;
        padding: 10px;
        background-color: black;
        color: white;
    }
    form{
        background-color: black;
        color: white;
        margin-right: 20px;
        padding: 5px;
        border-radius: 10px 10px 10px 10px;
    }

    input.lupa{
        font-size: 25px;
    }

    li.logod {
        margin-top: 30px;
        margin-right: 10px;
    }
    
    li.logod img {
        width: 100%;
    }

    .buscador{
        font-size: 25px;
    }

    li.logo img{
        margin-top: 15px;
        margin-left: 30px;
        display: block;
        width: 20%;   
    }

    .toggle-nav {       
        padding: 7px;          
        display: block;    
        margin-top: 27px;    
        width: 15px;
        align-content: end;
        text-align: end;
        margin-left: 0px;
        font-size: x-large;
        color: black;
    }

    li.fotobunny1{
        text-decoration: none;
        list-style-type: none;
        width: 50%;
        margin:0 0 0 0;
    }

    
    .centrobunny1{
        margin-top: 70px;
        border-radius: 50%;
        margin-left: 250px;
    }

    ul.info{
        display: none
    }
    ul.informacion{
        display: grid;
        grid-template-columns: 45% 45%;
        grid-template-rows: auto auto auto auto;
        justify-content: space-around;
        text-align: left;
        margin-top: 80px;
    }

    h2.letra1,h6.fans1,h5.seguir1{
        margin: 0 0 0 0;
    }

    li.letrabunny1{
        margin-top: 100px;
    }
        
    a.seguir2{
        border: 2px solid rgb(94, 198, 233);
        color: rgb(94, 198, 233);
        padding: 4px;
        border-radius: 50px 50px 50px 50px
    }

    h2.letra1{
        margin-top: 50px;
    }

    a.letra2{
        color: white;
        font-size: 3rem;
    }

    p.fans1{
        color: gray;
        margin-top: 0px;
        margin-bottom: 20px;
    }

    a.uk-margin-small-right{
        text-align: left;
    }

    span.uk-margin-small-right-uk-icon{
        margin-bottom: 3px;
        margin-left: 60px;
    }

    div.albums{
        display: none;
    }

    div.albums1{
        display: grid;
        grid-template-columns: 20% 20% 20% 20%;
        justify-content: space-evenly;
    }

    p.titulo1{
        text-align: center;
        text-decoration: none;
        list-style-type: none;
        color: white;
    }

    footer.footer1{
        display: none;
    }

    footer.footer2{
        display: block;
        display: grid;
        grid-template-columns: 70% 30%;

    }

    footer {
       background-color: white;
       border-radius: 20px 20px 0 0;
       height: 100px;
       padding-top: 35px;
       margin-top: 30px;
   }

   .lifooter {
       background-color: white;
       border-right: 1px solid black;
       padding-left: 10px;
       padding-right: 10px;
       color: black;
       font-size: 25px;
       
   }

   .primero{
       border-left: 1px solid black;
   }

   ul.footer {
       display: grid;
       grid-template-columns: auto auto auto;
       justify-content: center;
   }
   .deezer{
       width:100%;
       margin-bottom: 30px;
   }

   .deezerl{
       margin-right: 20px;
   
   }
}