body{
    background-color: grey;
    width: 100%;

}
header{
    display: grid;
    background-color: white;
    width: 100%;
}

.Header{
    text-decoration: none;
    list-style-type:none;
    width: 100%;
    background-color: (247, 247, 247);
}
li.logo img{
    margin-left: 0;
    display: block;
    width: 50%;
    
}
ul.Header{
    display: grid;
    grid-template-columns: 75% 20% ;
    padding-left: 10px;
    

}
ul.Header a{
    color: black;
    text-decoration: none;
}

.none {
    display: none;
}

.toggle-nav {       
    padding: 10px;          
    display: block;    
    margin-top: 10px;    
    width: 15px;
    align-content: end;
    margin-left: 28px;
    
    
}
ul .navegacion {
    display: none;
    text-decoration: none;
    list-style-type: none;
    text-align: center;

}

nav:hover ul.navegacion {
    display: block;
}

main{
    display: grid;
    grid-template-rows: auto;
}
.Artistas{
    background-color: hotpink;
}
.Canciones{
background-color: khaki;
}
.playlists{
background-color: lawngreen;
}

footer {
    background-color: white;
    border-radius: 20px 20px 0px 0px;
    height: 100px;
    padding-top: 8px;
    margin-top: 365px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

ul li{
    list-style-type: none;
    user-select: none;
}

a {
    text-decoration: none;
    color: black;
    user-select: none;
}