body{
    background-color: rgb(59, 61, 64);
    display: grid;
    grid-template-rows: 30px 30px 30px;

}
.artitas{
    background-color: green;
}
.albums{
    background-color: hotpink;}
.playlists{
    background-color: lightseagreen;}

